.disp{
    height:150px;
    width: 150px;
   
}
.disdiv1{
    place-items: center;
    padding: 20px;
}
.albumname{
    color: darkorchid;
    font-size: large;
    font-weight: bold;
    
}
.disalb1{
    
    gap:20px;
    padding: 20px;
    place-items: center;
   justify-content: space-between;

}
.songimg{
    display: inline;
    width: 70px;
    margin-right: 50px;
}