
.div1{
    width:100%;
    display: flex;
    place-items: center;
    position: fixed;
    bottom:0;
    left:0;
    z-index:1000;
    background-color: rgb(220, 187, 237);
    margin-bottom: 0px;
}
.div1 img{
    height:50px;
    border-radius: 10%;
    margin-top: 3px;

}
.play{
    display: flex;
    
}
.pause{
    display: flex;
    
}

.col{
    display: flex;
    place-items: center;
    margin-right: 30px;

}
.col img{
    width:20px;
    height:20px;
    margin: 0px 5px 0px 0px;
    border-radius: 50%;
    cursor: pointer;
}
/* .dissong{
    margin-top: 3px;
    margin-right: 20px;
    padding-right:25vw ;
    
} */

.playsong{
    display: flex;
    place-items: center;
    gap:30px ;
    margin-left: 30px;
   
}
.img1{
  margin:10px;
}
.so1{
    width:60vw;
    max-width: 500px;
    cursor:pointer;
    gap:30px;
    border-radius: 50%;
    background-color: blueviolet;
}
.playline{
    height: 1px;
    width:25vw;
    border-radius: 50%;
}