.disp{
    height:150px;
    width: 150px;
   
}
.disdiv1{
    place-items: center;
    padding: 20px;
}
.albumname{
    color: darkorchid;
    font-size: large;
    font-weight: bold;
    
}
.disalb1{
    
    gap:20px;
    padding: 20px;
    display:flex;
   justify-content: space-between;

}
.albumSongs :hover{
    background-color: lavender;
    cursor: pointer;
}
.albumSongs{
    margin-right:200px;
    width: 100%;
    /* margin-left: 200px; */
}
.artistname p{
    /* padding:20px; */
   padding: 10px;
}
.songplay{
    padding: 10px;

}
.songimg{
    display: inline;
    width: 70px;
    margin-right: 50px;
}
.header p{
    display:inline;
    margin-right:200px;
   margin-left:200px;
   width:100%;
    margin-top:50px;
}
