.homesongs{
    display:block;
    font-weight: bold;
    overflow: auto;
    padding-left:250px;

}
.aldis{
   display: flex;
    margin-top: 30px;
}


.homesongs h1{
    color: rgb(112, 112, 235);
    font-size: large;
    margin-bottom: 60px;
    margin-top: auto;
    place-items: center;
}

