.loginbox{
    padding:80px;
}
.loginform {
    width: 350px;
    margin:  auto;
    padding: 20px;
    padding-top:30px;
    background: #ece6ec;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.loginform h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.FormInput1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.FormInput1 label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.FormInput1 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.FormInput1 input:focus {
    border-color: #efe5f2;
}

.loginbtn {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #d689e2;
    color: rgb(230, 205, 230);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.loginbtn:hover {
    background: #cc2ce9;
}

.signup{
    margin-top: 15px;
    font-size: 14px;
}

.signup {
    margin: 0;
}

.signup a {
    color: #b254b4;
    font-weight: bold;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
