@import "tailwindcss";
.sidebar{
    background-color:lavender;
   width: 250px;
     height: 100vh;
     position: fixed;
     left: 0;
    top: 0;
     color: white;
           padding: 20px;
       box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
      
}
.logo{
    width:100%;
    height:30%;
}
.side img{
    width:20px;
    height:20px;
    margin: 0px 5px 0px 0px;
    border-radius: 50%;
}
.inside{
    display: flex;
    color:rgb(140, 89, 144);
    padding:30px;
    cursor: pointer;
}
.inside:hover{
    background-color: rgba(167, 110, 168, 0.457);
}
.sideBar2 img{
    width:20px;
    height:20px;
    margin: 0px 5px 0px 0px;
    border-radius: 50%;

}

