.albums{
    min-width: 180px;
    padding: 20px;
    cursor: pointer;
margin-bottom: 4px;

}
.albums:hover{
    background-color: rgb(229, 179, 240);
}
.albums img{
    height:80px;
    width:80px;
    
}
.albums p{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
