.songs{
    min-width: 180px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
/* .box{
    background-color:rgb(192, 169, 230) ;
    padding: 5px;
    border-radius: 10px;
} */
.songs:hover{
    background-color: rgb(229, 179, 240);
}
.songs img{
    height:150px;
    width:130px;
    border-radius: 10px;
    
    
    
}
.songs p{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(147, 95, 163);
}
