.app1{
  background-color:rgba(227, 205, 246, 0.93);
  height:100vh;
}
.sidebar {
  width: 250px; 
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #181818;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.app2{
  height:90%;
  display: flex;

}